*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.titles{
    height: 90px;
    background-color: aliceblue;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
   
}
 @media (max-width:600px) {
    .titles{
        width: 110px;
        flex-direction: column;
        height: 400px;



    }
    
        
    } 
