* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
  color: #222;
}

header {
  width: 100%;
  padding: 15px 40px;
  background:#111;
  position: fixed;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

#menuBtn {
  display: none;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.section {
  padding: 100px 40px;
  min-height: 100vh;
}

.home {
  background:gray;
  color: #fff;
  text-align: center;
  padding-top: 150px;
}

.project-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.contact-form button {
  padding: 12px;
  background:gray;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

footer {
  background:gray;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* Animation */
.fade {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background:gray;
    position: absolute;
    right: 40px;
    top: 60px;
    padding: 20px;
    border-radius: 10px;
  }

  nav ul.show {
    display: flex;
  }

  #menuBtn {
    display: block;
  }
}